<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All curves from {{ campaign.name }}</title>
</head>
<body>
    <table>
        <tr>
            <td><b>Hour</b></td>
        </tr>
        {% for curve in campaign.curves %}
            <tr>
                <td>{{ curve.hour }}</td>
                <form method="get" action="{{ url_for('dibujar_curva', curve_key=curve.key().name()) }}">
                    <td><input type="submit" value="Entrar"></td>
                </form>
                <form method="post" action="{{ url_for('borrar_curva') }}">
                    <input type="hidden" id="curve_key" name="curve_key" value={{ curve.key().name() }}>
                    <input type="hidden" id="campaign_key" name="campaign_key" value={{ curve.campaign.key().name() }}>
                    <td><input type="submit" value="Borrar"></td>
                </form>
            </tr>
        {% endfor %}
    </table>
</body>
</html>