<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All curves from {{ campaign.name }}</title>
</head>
<body>

    {% block navbar %}
        {% include "navBar.html" %}
    {% endblock navbar %}


    <table class="hover">
        <thead>
            <tr>
                <th><b>Hour</b></th>
                <th><b>Actions</b></th>
            </tr>
        </thead>
        <tbody>
            {% for curve in campaign.curves %}
                <tr>
                    <td>{{ curve.hour }}</td>
                    <td>
                        <button type="button" onclick="window.location.href='{{ url_for('draw_curve', curve_key=curve.key().name()) }}'" class="button">Enter</button>
                        {% if curve.has_permits() %}
                            <form method="post" action="{{ url_for('delete_curve') }}">
                                <input type="hidden" id="curve_key" name="curve_key" value={{ curve.key().name() }}>
                                <input type="hidden" id="campaign_key" name="campaign_key" value={{ curve.campaign.key().name() }}>
                                <button type="submit" class="button alert">Delete</button>
                            </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>