<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edición de Campañas</title>
</head>
<body>
{% block navbar %}
    {% include "navBar.html" %}
{% endblock navbar %}
<div class="column is-one-quarter is-offset-5">
    <form action="{{ url_for('save_campaign') }}" method="post">
        <input type="hidden" name="campaign_key" value="{{ campaign.key().name() }}"/>
        <div class="field">
            <label class="label">Campaign name</label>
            <div class="control">
                <input name="name" class="input" type="text" value="{{ campaign.name }}">
            </div>
        </div>
        <div class="field">
            <label class="label">Date</label>
            <div class="control">
                <input name="date" class="input" type="date" value="{{ campaign.date }}">
            </div>
        </div>
        <div class="field">
            <p class="control">
                <button type="submit" class="button is-success">
                    Edit
                </button>
            </p>
        </div>
    </form>
</div>
</body>
</html>