<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edición de Módulos</title>
</head>
<body>
    {% block navbar %}
        {% include "navBar.html" %}
    {% endblock navbar %}

    <form action="{{ url_for('save_module') }}" method="post">
        Nombre:<br/><input type="text" name="name" value="{{ module.name }}"/><br/>
        <input type="hidden" value="{{ module.key().name() }}" name="module_key">
        <input type="submit" value="Guardar"/>
    </form>
</body>
</html>