<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Module Editing</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <!-- <link rel="stylesheet" href="styles/debug.css"> -->
</head>
<body>
    {% block navbar %}
        {% include "navBar.html" %}
    {% endblock navbar %}

    <form action="{{ url_for('save_module') }}" method="post">
        <div class="field">
            <label class="label">Name:</label>
            <div class="control">
                 <input type="text" name="name" value="{{ module.name }}"/>
                 <input type="hidden" value="{{ module.key().name() }}" name="module_key">
                <input class="button is-link is-small" type="submit" value="Guardar"/>
            </div>
        </div>


    </form>
</body>
</html>