<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Module Editing</title>
</head>
<body>
    {% block navbar %}
        {% include "navBar.html" %}
    {% endblock navbar %}
    <div class="is-flex is-vcentered" style="display: flex; justify-content: center; margin-top: 50px">
            <form action="{{ url_for('save_module') }}" method="POST">
                <div class="columns is-vcentered">
                    <div class="column has-text-centered">
                        <label class="label has-text-centered">Name:</label>
                    </div>
                    <div class="column">
                        <input class="input is-rounded is-hoverable" name="name" type="text" value="{{ module.name }} ">
                        <input type="hidden" value="{{ module.key().name() }}" name="module_key">
                    </div>
                    <div class="column">
                        <input class="button is-link is-fullwidth is-rounded is-outlined" type="submit" value="Guardar"/>
                    </div>
                </div>
            </form>
        </div>
</body>
</html>