<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
          //var dataPV = google.visualization.arrayToDataTable();
        var dataPV = google.visualization.arrayToDataTable({{ pv | safe }});
        var dataIV = google.visualization.arrayToDataTable({{ iv | safe }});
        var optionsIV = {
          title: 'IV Graphic',
          curveType: 'function',
          legend: { position: 'bottom' }
        };
        var optionsPV = {
          title: 'PV Graphic',
          curveType: 'function',
          legend: { position: 'bottom' }
        };
        var chartPV = new google.visualization.LineChart(document.getElementById('curvePV'));
        var chartIV = new google.visualization.LineChart(document.getElementById('curveIV'));
        chartPV.draw(dataPV, optionsPV);
        chartIV.draw(dataIV, optionsIV);
      }
    </script>
  </head>
  <body>
    {% block navbar %}
        {% include "navBar.html" %}
    {% endblock navbar %}
    <table>
        <tr>
            <td id="curvePV" style="width: 800px; height: 500px"></td>
            <td>
                <table border="1">
                    {% for point in pv %}
                        <tr>
                            <td>{{ point[1] }}</td>
                            <td>{{ point[0] }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
        <tr>
            <td id="curveIV" style="width: 800px; height: 500px"></td>
            <td>
                <table border="1">
                    {% for point in iv %}
                        <tr>
                            <td>{{ point[1] }}</td>
                            <td>{{ point[0] }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
    </table>
  </body>
</html>