<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Vista de Módulos</title>
</head>
<body>
    {% block navbar %}
    {% endblock navbar %}

    {% block table %}
    <table border="1">
        <tr>
            <th>Nombre</th>
            <th>Usuario</th>
            <th>Ver Campañas</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
        <tr>
            {% for modulo in modulos %}
                <td>{{modulo.name}}</td>
                <td>{{modulo.user}}</td>
                <td>
                    <form action="{{ url_for('viewmodule') }}">
                        <input type="submit" value="Ver Campañas"/>
                        <input type="hidden" id="modulo" value={{ modulo }}/>
                    </form>
                </td>
                {% if modulo.has_permits() %}
                    <td>
                        <form action="{{ url_for('editmodule') }}">
                            <input type="submit" value="Editar"/>
                            <input type="hidden" id="modulo" value="{{ modulo }}"/>
                        </form>
                    </td>
                    <td>
                        <form action="{{ url_for('deletemodule') }}">
                            <input type="submit" value="Eliminar"/>
                            <input type="hidden" id="modulo" value="{{ modulo }}"/>
                        </form>
                    </td>
                {% endif %}
            {% endfor %}
        </tr>
    </table>
    {% endblock table %}
</body>
</html>