<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Vista de Módulos</title>
</head>
<body>
    {% block navbar %}
    {% endblock navbar %}

    {% block table %}
    <table border="1">
        <tr>
            <th>Nombre</th>
            <th>Usuario</th>
            <th>Ver Más</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
        <tr>
            {% for modulo in modulos %}
                <td>{{modulo.name}}</td>
                <td>{{modulo.user}}</td>
                <td>
                    <form action="{{ url_for('module') }}">
                        <input type="submit" value="Ver más"/>
                        <input type="hidden" value={{ modulo.name }}/>
                    </form>
                </td>
                {% if modulo.has_permits() %}
                <td><input type="submit" value="Editar"/></td>
                <td><input type="submit" value="Eliminar"/></td>
                {% endif %}
            {% endfor %}
        </tr>
    </table>
    {% endblock table %}
</body>
</html>