<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Módulo </title>
</head>
<body>
    {% block navbar %}
        {% include "navBar.html" %}
    {% endblock navbar %}

    {% block table %}
        <table border="1">
            <tr>
                <th>Nombre</th>
                <th>Fecha</th>
                <th>Módulo</th>
                <th>Usuario</th>
                <th>Ver Curvas</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
            {% for campaign in campaigns %}
                <tr>
                    <td>{{campaign.name}}</td>
                    <td>{{campaign.date}}</td>
                    <td>{{campaign.module.name}}</td>
                    <td>{{campaign.user.email}}</td>
                    <td><form><input type="submit" value="Ver Curvas"/></form></td>
                    {% if campaign.has_permits() %}
                        <td><button type="button" onclick="window.location.href=
                                '{{ url_for('edit_campaign',campaign_key=campaign.name +
                                 "_" + campaign.module.name) }}'">Editar</button></td>
                        <td><button type="button" onclick="window.location.href='{{ url_for('delete_campaign',
                        campaign_key=campaign.name + "_" + campaign.module.name) }}'">Eliminar</button></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    {% endblock table %}
    <form action="{{ url_for('upload_campaign')}}" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="module_key" value={{ module_key }}>
        <input type="file" name="file_campaigns" >
        <input type="submit" value="Añadir Campaña">
    </form>
</body>
</html>